
<!DOCTYPE html>
<html>
<head>
    <title>AIS Map</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #map { height: 100vh; }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        // Inicializa o mapa apenas uma vez
        const map = L.map('map').setView([-24.0, -46.0], 8); // Coordenadas centradas em Santos
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: 'Map data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(map);

        // Objeto para armazenar os marcadores dos navios
        const markers = {};

        // Abre a conexão com o WebSocket
        const eventSource = new WebSocket('ws://' + window.location.host + '/ws');
        eventSource.onmessage = function(event) {
            const data = JSON.parse(event.data);
            const shipId = data.ShipId;
            const lat = data.Latitude;
            const lon = data.Longitude;

            // Atualiza ou cria marcadores no mapa
            if (markers[shipId]) {
                // Atualiza a posição do marcador existente
                markers[shipId].setLatLng([lat, lon]);
            } else {
                // Cria um novo marcador
                markers[shipId] = L.marker([lat, lon]).addTo(map);
            }
        };
    </script>
</body>
</html>
